*{
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
}

header{
    border: 2px black solid;
    background-color: #ededed;
    width: 100%;
    position: sticky;
}

footer{
    border: black 2px solid;
    width: 100%;
}

div.container{
    display: flex;
    flex-direction: row;
    height: 100em;
}

main{
    flex-grow: 1;
    border: 2px solid yellow;
}

nav.sidebar{
    width: 20%;
    border: solid rgb(153, 4, 4) 2px;
}

nav.sidebar button{
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 1em 0 0 0;
}

/* focus */
nav.sidebar button:hover{
    border: yellowgreen 1px dotted;
}

/* dropdown */
div.dropdown{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

div.dropdown button{
    background-color: aqua;
    cursor: not-allowed;

}

div.content{
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

div.content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

div.dropdown:hover div.content{
    display: block;
    z-index: 1;
}