*{
    font-family: 'arial';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

nav.sidebar{
    width: 20%;
    border: solid rgb(153, 4, 4) 2px;
}

nav.sidebar button{
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 1em 0 0 0;
    padding: 0.6em 0.8em;
    font-size: 1rem;
}