/* header feature */
header{
    display: flex;
    border-bottom: 1px black solid;
    background-color: #F6F4EB;
    width: 100%;
    padding: 0.2em 0.5em;
    position: sticky;
    top: 0;
    border: 1px solid rgb(7, 62, 71);
    height: 60px;
}

header div.tribar{
  background-color: #222;
  width: 1.4em;
  height:0.15em;
  margin: 6px 0;
}

header h1{
  padding: 0 0.5em;
}

/* navbar */
nav.sidebar{
    position: sticky;
    top: 60px;
    padding: 0 1em;
    border-right: solid rgb(231, 231, 231) 1px;
    max-width: 200px;
    height: 100vh;
    background-color: #F6F4EB;
    transition: 0.2s ease-in-out;
}

nav.sidebar button{
    background-color: #f1f1f1;
    min-width: 160px;
    margin: 0.5em 0 0 0;
    padding: 0.6em 0.8em;
    font-size: 1em;
    border: 1px transparent;
}

/* focus */
nav.sidebar button:hover{
    cursor: pointer;
    background-color: #222;
}

/* dropdown */
div.dropdown{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

div.dropdown button{
    max-width: 0;

}

div.content{
    background-color: #f1f1f1;
    min-width: 160px;
    max-height: 0;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: max-height 0.2s ease-out;
}

div.content-show{
    max-height: fit-content;
}

div.content a{
    color: black;
    padding: 0.6em 0.8em;
    text-decoration: none;
    display: block;
}

/* resolusi ponsel */
@media screen and (max-width:800px){
    nav.sidebar{
        position: fixed;
      left:-200px;
    }

    nav.sidebar-show{
        left:0;
    }
  }