*{
    font-family: 'arial';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    /* border: 1px black solid; */
    /* width: 10em;
    height: 10em; */
    display: grid;
    place-items: center;
    padding-top: 12vh;
}

main .box{
    border: 1px black solid;
    width: 22em;
    height: 18em;
    text-align: center;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .box2{
    border: 1px black solid;
    width: auto;
    height: 88%;
}

main .box input{
    border: 2px inset #c5c5c5;
    border-radius: 5px;
    width: 20em;
    height: 2.4em;
}

main .box button{
    border: 1px solid rgb(221, 221, 221);
    color: azure;
    border-radius: 8px;
    background-color: #639b96;
    background-image: linear-gradient(102deg, #6da7a1 9%, #6ca3a3 60%, #5195a1 93%);
    width: 20em;
    height: 2.4em;
    transition: 0.3s ease 0s;
}

main .box button:hover{
    transform: scale(1.1);
    border: 1px solid rgb(78, 77, 77);
    background-image: linear-gradient(102deg, #94c9c3 9%, #76c5c5 60%, #55b3c4 93%);
}

main .box .bottom_text{
    border: 1px black solid;
    text-align: start;
    height: 12%;
}