*{
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-size: 20px;
}

/* footer feature */
footer{
    border: black 2px solid;
    width: 100%;
}

/* main page */
div.container{
    display:flex;
    align-items: flex-start;
}

main{
    flex-grow: 1;
    /* border: 2px solid yellow;*/
    height: 200em;
    background-color: #f8f8fd;
    box-shadow: 2px -2px 15px -2px rgba(0,0,0,0.24) inset;
    transition: 0.2s ease-in-out;
}

.wrapper{
  background-color: #fdfdfd;
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.1);
  border: transparent;
  border-radius: 1rem;
  margin: 0.5em;
  padding: 0.5rem;
}

/* form property */
.flex-wrapper{
  display: flex;
  flex-direction: column;
  background-color: yellow;
  margin: 0.5rem 0;
}
.another-flex-wrapper{
  display: flex;
  background-color: red;
}

.another-flex-wrapper:hover{
  background-color: blue;
}

input[type = "radio"]{
  overflow-x: none;
}

.flex-input-container{
  flex-direction: column;
  border: 3px solid red;
}

/* tabel */
.table-flow{
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.24) inset;
  overflow-x: scroll;
  max-width: 100vw;
}

table{
  margin: 10px;
  border-collapse: collapse;
}

th, td{
  /* border: 1px solid black; */
  padding: 0.3em 0.8em;
}

th{
  background-color: #fbfbfb;
  border-bottom:1px solid #424242;
}

.table-number{
  text-align: center;
}

tr:nth-child(even){
  background-color:#e3e3e3 ;
}

tr:nth-child(odd){
  background-color:#fbfbfb ;
}

@media screen and (max-width: 800px){
  /* main.nav-show{
    margin-left: 200px;
  } */
}
