*{
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-size: 20px;
}

/* footer feature */
footer{
    border: black 2px solid;
    width: 100%;
}

/* main page */
div.container{
    display:flex;
    align-items: flex-start;
}

main{
    flex-grow: 1;
    /* border: 2px solid yellow;*/
    height: 200em;
}

/* tabel */
.table-flow{
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.24) inset;
  overflow-x: scroll;
}

table{
  margin: 10px;
  border-collapse: collapse;
}

th, td{
  /* border: 1px solid black; */
  padding: 0.3em 0.8em;
}

th{
  background-color: #fbfbfb;
  border-bottom:1px solid #424242;
}

.table-number{
  text-align: center;
}

tr:nth-child(even){
  background-color:#e3e3e3 ;
}

tr:nth-child(odd){
  background-color:#fbfbfb ;
}
