.form-container {
  display: block;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-bottom: 1.5rem;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  font-weight: 600;
  font-size: 1rem;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--white-1000);
}

.form-control:focus {
  outline: none;
  border-color: #e6b5b5;
  box-shadow: 0 0 5px rgba(230, 181, 181, 0.5);
}

textarea.form-control {
  resize: vertical;
  min-height: 200px; /* Membuat textarea besar */
}

.btn-form {
  background-color: #e6b5b5;
  color: #000;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

.btn-form:hover {
  background-color: #d4a4a4;
}
