/* height and width */
html{
    --header-height-base: 50px;
    --navbar-width-base: 200px;
    --button-width-base: 160px;

}

/* colors */
html{
    --primary-color-base:#f2efff;
    --secondary-color-base:#f3f2f0;
    --white-1000:#fefefe;
    --white-900:#fbfbfb;
    --white-800:#f8f8f8;
    --white-700:#f5f5f5;
    --white-600:#f2f2f2;
    --white-500:#efefef;
    --white-400:#ececec;
    --white-300:#e9e9e9;
    --white-200:#e6e6e6;
    --white-100:#e3e3e3;
}