*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 16px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.grid{
    display: grid;
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
}

body{
    margin: 0;
}

/* main prop */
main{
    background-color: aquamarine;
    flex: 1;
    min-height: calc(100vh - 60px);
    margin-top: var(--header-height-base);
    margin-left: 200px;
    transition: 0.3s ease-in-out;
    padding: 2em 4em;
}

main.nav-toggle{
    margin-left: 0px;
}

.container{
    border: 1px solid yellow;
    background-color: yellowgreen;
    padding: 1.4em;
    border-radius: 16px;
    gap: 2em;
}

.box{
    border: 1px solid violet;
    background-color: burlywood;
    min-width: 100px;
    min-height: 60px;
    flex: 1;
    border-radius: 8px;
}