*{
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border: 2px black solid;
    background-color: #ededed;
    width: 100%;
    height: 400em;
    position: sticky;
}

footer{
    border: black 2px solid;
    width: 100%;
}

nav .sidebar{
    width: 20%;
    border: solid black 1px;
}